@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url("../src/assets/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}